.tab-container {
	margin: 4em;
}
.tab-container .label-container {
	position: relative;
}
.tab-container .label-container.top {
	bottom: -1px;
}
.tab-container .label-container.bottom {
	top: -1px;
}
.tab-container .label-container .label-item {
	display: inline-block;
	margin-right: 1em;
	border: 1px solid;
	padding: 0.5em 1em;
	cursor: pointer;
	border-color: #fff;
	background: #fff;
}
.tab-container .page-container {
	border-color: #1565c0;
	padding: 1em;
	background: rgba (255,255,255,0.3);
	border: 0px solid;
}
.tab-container .label-container .label-active {
	color: #fff;
	background:#1565c0;
}
.tab-container .label-container.top .label-active {
	border-bottom-color: #1565c0;
}

.tab-container .label-container.bottom .label-active {
	border-top-color: #fff;
}
.tab-container .label-container .label-inactive {
	color:#1565c0;
}
