/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');*/

/**, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 100%;
  max-width: 100;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}

section1 {
  display: none;
  padding: 20px 10px 0 0;
}

section1 button:focus {
  outline: 1px dotted #00acc1 !important;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label:hover {
  color: #888;
  cursor: pointer;
}

#FAQ input:checked + label {
  background: #1565c0;
  border: 1px solid #1565c0;
  color: white;
}

#FAQ label {
  width: 16.6%;
  padding: 15px 15px;
  border: 1px solid #1565c0;
  color: #1565c0;
  margin-right: -5px;
  position: relative;
  letter-spacing:0.16px;
  vertical-align: middle;
}

#FAQ label i {
  display: none;
}

#FAQ .definitions {
  padding-top: 27px !important;
  padding-bottom: 27px !important;
}

#FAQ input:checked + label:after, #FAQ input:checked + label:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#FAQ input:checked + label:after {
	border-top-color: #1565c0;
	border-width: 20px;
	margin-left: -20px;
}

#FAQ input:checked + label:before {
	border-top-color: #1565c0;
	border-width: 20px;
	margin-left: -20px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 ,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6{
  display: block;
}

@media (min-width: 800px) and (max-width: 1500px) {
  #FAQ label div{
    text-overflow: ellipsis;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media (max-width: 800px) {
  #FAQ .definitions {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  #FAQ label .text {
    display: none;
  }

  #FAQ label i {
    display: initial;
  }

  #FAQ label {
    font-size: 15px;
  }

  #FAQ input:checked + label:after {
    border-top-color: #1565c0;
    border-width: 10px;
    margin-left: -10px;
  }
  
  #FAQ input:checked + label:before {
    border-top-color: #1565c0;
    border-width: 10px;
    margin-left: -10px;
  }
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
